<main class="container mt-3 mb-5 p-3 border bg-dark text-white">
    <div class="row">
        <div class="col-12">
            <h3>Portfolio</h3>
            <hr class="my-3 border-dark">
        </div>
    </div>
    <div class="row">
        {{#each projects}}
        <div class="col-12 mb-2">
            <div class="card d-flex flex-row">
                <div>
                    <img width=200 height=150 src="{{image}}" alt="{{alt}}">
                </div>
                <div class="card-body p-2">
                    <h4 class="card-title">{{title}}</h4>
                    <p class="card-text">{{description}}</p>
                    <p class="card-text">Technology: {{tech}}</p>
                    {{#if href}}
                    <a href={{href}} target="_blank" class="btn btn-dark">Application</a>
                    {{/if}}
                    <a href={{repo}} target="_blank" class="btn btn-dark">GitHub</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</main>